body{
  background-color:#ffffff;
  /* width: 90%; */
  /* margin: auto !important; */
}
.profile-img{
  border-radius: 100%;
  height: 88px;
  width: 88px;
  background-size: contain;
}
.links{
  background-color: #EAECF0;
  margin-left: 144px !important;
  margin-right: 144px !important;
  /* width: 80%; */
}
.links:hover{
  background-color:#D0D5DD;
}
.top{
  width: 200px;
}

@media only screen and (min-width: 900px){
  .menu-icon{
    display:none;
  }
}

@media only screen and (max-width: 900px){
  .links{
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
  .footer{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    height: 200px;
    font-size:14px;
    margin-bottom: 40px;
    /* width: 80%; */
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .share-button{
    display: none;
  }
  .menu-icon{
    display:block;
    right: 0px;
    top: 0px;
  }
}
@media only screen and (max-width: 425px){
  .links{
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .footer{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    height: 200px;
    font-size:14px;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .share-button{
    display: none;
  }
  .menu-icon{
    display:block;
    right: 0px;
    top: 0px;
  }
}
hr{
  margin-left: 80px !important;
  margin-right: 80px !important;
  margin-top: 40px !important;
}

.footer{
  justify-content: space-between;
  margin-left: 80px !important;
  margin-right: 80px !important;

}
.share-button{
  right: 200px ;
  bottom: 120px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  right: 160px;
  top: 18px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
#slack{
  display:none;
}